<VirtualHost *:80>
    ServerName localhost.localdomain
    ServerAlias www.localhost.localdomain
    ServerAdmin root@localhost.localdomain

    Redirect "/" "https://{{ ansible_eth0["ipv4"]["address"] }}"
</VirtualHost>
